@{
    ViewBag.Title = "HomeIndex";
}

<!DOCTYPE html>
<html>
<body><br /><br /><br />
    <h1 style="width:auto">Welcome to my Student Management System Website</h1>
    <p>The time is now: @DateTime.Now</p>
</body>
</html>
@*<style class="col-">
    background-color::line-marker;
    border::backdrop;
</style>*@
<div class="container">
    <div class="row">
        <div class="card-header">
            <h3>This is one of the most beautiful places for visitors</h3>
        </div>
        <div class="body-content">
            <img src="~/Image/MostBeautifulUniversityInsider.jpg" asp-append-version="true"/>
        </div>
        <div class="card-footer">
            <h6>For any query:</h6>
            <h2><a href="mailto:ahsangazi01@gmail.com">ahsangazi01@gmail.com</a></h2>
        </div>
    </div>
</div>
